body {
    background-color: rgb(255, 204, 1);
    
    
    box-sizing: border-box;
}

/* memes-list */
.memes-list {
    background-color: bisque;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto; 
}
.memes-list:hover {
    color: blue;
    cursor:pointer;
}
/* mem-container */
.mem-container {
    border: 0.1rem solid red;
    padding: 0.5rem;
}

.mem-group {
    cursor: pointer;
    display:block;
}

.mem-input {
    -webkit-appearance: none;
    appearance: none;
}

.mem-input:checked + .mem-pic {
    display: block;
    color: black;
    
}

.mem-pic {
    width: 50%;
    display: none;
    margin: 1rem auto 1rem;
    
}
